:root {
    --accent: #2196F3;
    --accent-hover: #188CE8;
    --main-text: #212121;
    --background-color: #FFFFFF;
    --secondary-text: #757575;
    --white-text: #FFFFFF;
    --black-text: #000000;
    --hero-bgc: #2F303A;
    --bgc-poster: #EEEEEE;
    --bgc-heder: #ECECEC;
    --bgc-team: #F5F4FA;
    --footer-address: rgba(255, 255, 255, 0.6);
    --border-header: #ECECEC;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
ul, p {
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
color: var(--main-text);
background-color:var(--background-color);
font-size: 14px;
font-weight: 400;
}

/* Логотип */
.logo {
    margin-right: 93px;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-accent {
    color: var(--accent)
}
.header {
    display: flex;
    align-items:center;
    border-bottom: 1px;
}
.header > a {
    color: var(--black-text);
}

.logo-white {
    color: var(--white-text);
}
.nav-item.current {
    color: var(--accent);
}

/* Навигация  */
.header-nav {   
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    }
.nav-item {
   
    text-decoration: none;
    color: var(--main-text);
}
 .list-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
}
.list-nav {
    display: flex;
}
 .list-nav .item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact .item:not(:first-child) {
    margin-left: 50px;
}

.nav-item:hover,
.nav-item:focus,
.contact-item:hover,
.contact-item:focus,
.mail:hover,
.mail:focus,
.address:hover,
.address:focus {
    color: var(--accent)
}

.item,
.benefit-item {
    list-style-type: none;
}
.contact-item {
    color: var(--secondary-text);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.143;
    text-decoration: none;
}
.contact-item:last-child {
    margin-right: 0;
}

.team-member {
    background-color:var(--background-color);
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Герой */
.hero-section {
    background-color: var(--hero-bgc);
    text-align: center;

}
.hero {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text);
}

/* Кнопка  */
.btn {
    margin-bottom: 210px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent);
    font-family: 'Roboto', sans-serif;
    color: var(--white-text);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-size: 16px; 
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color:var(--accent-hover);
}

.benefit-list {
    display: flex;

    padding-top: 107px;
    padding-bottom: 94px;
}
.benefit-list .item {
    margin-right: 30px;
}
.benefit-list .item:last-child {
    margin-right: 0;
}
.benefit-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
    font-size: 14px;
}
.benefits-desc {
    width: 270px;
    line-height: 1.71;
    color: var(--secondary-text);
}

/* Чим займаємося  */
.workimg {
    display: block;
}
.what-to-do {
    display: flex;
    padding-bottom: 94px;
}
.whatwedo {
    margin-bottom: 50px;
    margin-top: 0;
}
.what-to-do .item:not(:last-child){
    margin-right: 30px;
}

.whatwedo, .team-tile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Наша команда  */
.ourteam {
    display: flex;
    text-align: center;  
}
.ourteam .team-member:not(:last-child) {
    margin-right: 30px;}
.team-tile {
    padding-top: 94px;
    padding-bottom: 50px;
}
.team {
    background-color:var(--bgc-team);
}
.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    margin-top: 0;
    }

.team-disc {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text);
    
}
 .team-member img{
    margin-bottom: 30px;
 }
/* Футер */
.footer .logo {
    width: 145px;
   padding-top: 60px;
   padding-bottom: 20px;
   margin-right: 0;
}
.footer {
    background-color: var(--hero-bgc);
}
.main-address {
    width: 231px;
    font-style: normal;
    padding-bottom: 60px;
}
.main-address li {
    margin-bottom: 9px;
}
.address {
    color: var(--white-text);
    text-decoration: none;
    line-height: 1.71;
    }
     
    .mail {
    color: var(--footer-address);
    text-decoration: none;
    line-height: 1.71;
   }

.btn-nav {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--bgc-team);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    }

/* Навигация портфолио  */

.btn-nav:hover, 
.btn-nav:focus {
    background-color: var(--accent);
    color: var(--white-text);
}

.btn-nav.all{
    padding: 6px 25px;
}
.filter-item .item:not(:last-child){
    margin-right: 8px;
}

/* Портфолио */
.portfolio-link{
    text-decoration: none;
}
.porfolio-list {
    background-color:var(--bgc-poster);
}
.portfolio-name {
        
        padding-top: 20px;
        padding-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: var(--main-text);
}
 .portfolio-list .portfolio-name{
    width: 322px;
    display: block;
    margin-left: 24px;
 }

.portfolio-disc {
        font-size: 16px;
        line-height: 1.88;
        color: var(--secondary-text);
       
}
.portfolio-list .portfolio-disc {
    width: 322px;
    display: block;
    margin-left: 24px;
    margin-bottom: 20px;
}

.portfolio-item {
    display: flex;
    flex-wrap:wrap
}
.portfolio-item .portfolio-list:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
.portfolio-item .portfolio-list:nth-child(-n+6) {
    margin-bottom: 30px;
}
.portfolio-item .portfolio-list:nth-child(n+7) {
    margin-bottom: 94px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.filter-item {
    display: flex;
    padding-top: 94px;
    margin-bottom: 50px;
    justify-content: center;
}
.cards{
    width: 370px;
    border-left:1px solid #EEEEEE ;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}